
body {
  background: #000;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;

}

@font-face {
  font-family: 'Gilroy';
  src: url('../../assets/Gilroy-Light.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.right{
  display: none;
}
